* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    font-size: 12px;
}

.main-wrap {
    position: relative;
    height: 100%;
    width: 330px;
    margin: 60px auto;
    border: 3px solid rgb(21, 132, 132);
    padding: 20px 0;
}

/* header */

header {
    text-align: center;
}

h1 {
    font-style: italic;
}

.cancel-btn {
    position: absolute;
    left: 20px;
    top: 35px;
}

.cancel-btn .cancle-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(./images/close_black_24dp.png);
    background-size: contain;
    background-repeat: no-repeat;
}

main {
    margin: 40px;
    padding-top: 15px;
}

/* top section */

.album-wrap {
    display: flex;
}

.album-box {
    background: rgb(255, 165, 6);
    border: 2px solid #000;
    border-radius: 15%;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 25px;
}

.album-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(./images/album-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.album-info {
    margin: 15px 20px;
}

.album-info h2 {
    font-size: 30px;
    line-height: 27px;
}

.album-info p {
    font-size: 10px;
    font-weight: bold;
    margin-top: 13px;
}

/* rectangle button section */

.button-box {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.button-box a {
    box-shadow: -1px 1px 1px #333;
}

.btn-icon {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.play-icon {
    background-image: url(./images/play_arrow_black_24dp.png);
    vertical-align: -12px;
    margin-left: -7px;
}

.heart-icon {
    background-image: url(./images/favorite_border_black_24dp.png);
    margin-left: -15px;
    margin-top: -15px;
}

.plus-icon {
    background-image: url(./images/add_black_24dp.png);
    margin-left: -15px;
    margin-top: -15px;
}

.rectangle-btn {
    /* border: 2px solid black; */
    border-top: 2px solid #333;
    border-left: 3px solid #333;
    border-bottom: 5px solid #333;
    border-right: 2px solid rgb(109, 38, 38);
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 8px 30px;
    font-size: 13px;
}

.circle-btn {
    width: 40px;
    height: 40px;
    border: 2px solid #333;
    border-bottom: 4px solid #333;
    border-radius: 100%;
    padding: 21px;
}

.platform-wrap li {
    overflow: hidden;
    list-style: none;
    margin: 20px 0;
}

.platform-wrap img {
    float: left;
    margin-right: 15px;
}

.platform-wrap h3 {
    margin-bottom: 8px;
}