/* common section */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

p {
  color: rgb(170, 170, 170);
}

/* icon setting */

.icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

nav .icon {
  width: 30px;
  height: 30px;
}

.list-icon {
  background-image: url(images/menu_black.png);
}

.list-icon:hover {
  background-image: url(images/menu_white.png);
}

.basket-icon {
  background-image: url(images/basket_black.png);
}

.basket-icon:hover {
  background-image: url(images/basket_white.png);
}

.search-icon {
  background-image: url(images/search_black.png);
}

.bookmark-icon {
  background-image: url(images/bookmark_black.png);
  width: 25px;
  height: 25px;
  vertical-align: -4px;
}

.bookmark-icon:hover {
  background-image: url(images/bookmark_border.png);
}

.star-list li {
  display: inline-block;
  background-image: url(images/star_border_black.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

.star-list li[class="on"] {
  background-image: url(images/star_black.png);
}

/* button setting */

.rectangle-btn {
  border: 0;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 15px;
  font-weight: bold;
}

.circle-btn {
  border: 0;
  border-radius: 100%;
  width: 37.5px;
  height: 37.5px;
}

.btn-wrap .white {
  background-color: rgb(240, 240, 240);
}

.btn-wrap .black {
  background-color: #000;
  color: #fff;
}

.btn-wrap .white:hover, .btn-wrap .black:hover {
  background-color: rgb(253, 204, 50);
  color: #fff;
}

.btn-wrap .yellow {
  background-color: rgb(253, 204, 50);
}

.search-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

/* layout */

.container {
  width: 550px;
  margin: 0 auto;
}

/* header */

nav {
  position: relative;
}

nav ul {
  background-color: rgb(253, 204, 50);
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
}

nav ul li {
  font-size: 20px;
  font-weight: bold;
}

nav form {
  margin: 0 auto;
}

nav input {
  position: absolute;
  top: 70px;
  left: 30px;
  border: 0;
  border-radius: 30px;
  box-shadow: 3px 10px 10px 0px rgb(200, 200, 200);
  font-size: 16px;
  width: 90%;
  margin: 0 auto;
  padding: 15px 30px;
}

nav .search-btn {
  position: absolute;
  top: 80px;
  right: 45px;
}

/* main */
main {
  padding: 60px 40px;
}

/* book-detail */

.book-info h2 {
  margin: 20px 0;
}

.book-info article {
  height: 250px;
}

.book-info img {
  float: left;
  height: 250px;
  margin-right: 30px;
}

.book-info {
  margin: 40px 0;
}

.book-info .author-name {
  margin-bottom: 10px;
}

.book-info .btn-wrap [class="rectangle-btn white"] {
  width: 100px;
  margin: 35px 13px 35px 0;
}

.book-info .btn-wrap [class="rectangle-btn black"] {
  width: 150px;
  margin-left: 25px;
}

/* book list */

.book-wrap article {
  margin: 30px 0;
}

.book-wrap .book-list {
  display: flex;
  text-align: center;
  overflow: auto;
  white-space: nowrap;
}

.book-wrap .book-list .item img {
  height: 150px;
  margin: 10px;
}

.book-wrap .book-list .item img:hover {
  border: 2px solid rgb(253, 204, 50);
}

/* author info */

.author-list h2 {
  margin: 20px 0;
} 

.author-list img {
  float: left;
  margin: 0 30px 80px 0;
}

.author-list h3 {
  margin: 15px;
}